<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="styles.css">

<head>
	<title>addEventListener</title>
	<meta charset="utf-8" />

	<script src="../jquery.js">// requisição backend funçao com parametros
	</script>

	<script src="../JnAjax.js">// 
	</script>

	<script>

function salvar () {
			const idPaisSede = getIdPaisSede();
			if (!idPaisSede){
				inserir();
				return;
			}
			var callbacks = {}
			callbacks[200] = paisSede => alert ('O pais sede foi atualizado com sucesso!');
			callbacks[422] = retornoDoBackend => alert (`O sistema retornou a seguinte mensagem de erro: ${retornoDoBackend.message}`);

			callbacks ['onUnexpectedHttpStatus'] = () => 
			alert ('Ocorreu um erro inesperado ao salvar o país sede')
			
			const nome = $('#inputPaisSede').val();
		    const nome1 = $('#inputPaisSede1').val();

		
			doAnAjaxRequest(`paisSede/${idPaisSede}`, callbacks,'PATCH',{nome,nome1});
		} 

		
		function inserir() {
		var callbacks = {};
		callbacks[201] = () => {
			alert('O país sede foi inserido com sucesso!')
			window.location.reload()
		};
		callbacks['onUnexpectedHttpStatus'] = () => alert('Ocorreu um erro inesperado ao inserir esse país sede.');
		
		const nome = $('#inputPaisSede').val();
		const nome1 = $('#inputPaisSede1').val();
		doAnAjaxRequest('paisSede', callbacks, 'POST', { nome,nome1 });

		
	

		}

		function getIdPaisSede (){
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);	
			const idPaisSede = urlParams.get('idPaisSede');
			return idPaisSede	
		}

		$(document).ready(function () {
			const idPaisSede = getIdPaisSede()
			var callbacks = {}
			callbacks[200] = paisesSede => $(`#inputPaisSede`).val(paisesSede[0].Copa , $(`#inputPaisSede1`).val(paisesSede[0].Sede))
			doAnAjaxRequest(`paisSede/${idPaisSede}`, callbacks, 'GET');
		});



	</script>

</head>

<body background="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/12/07/806x444/1_chaveamento_copa_do_mundo-22130186.jpg">

	<h2 style="font-size: 30px" >Editar Tabela de País sede</h2>

	<a href="index1.html"><input type="button"  class="inicio" value="Inicio"></input></a>
	
	<button class="voltar"><a href = 'paisSede.html' 
					title = 'voltar a tabela'>Voltar</a></button>
						
	<button class="salvar" onclick="salvar()">Salvar</button></button>
	
	<input class="input" id="inputPaisSede" placeholder="Digite ano Copa">
 
	<input class="input1" id="inputPaisSede1" placeholder="Digite Pais Sede">
	 

	</table>
</body>
