<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<title></title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="styles.css">
	<h1>Histórias das Copas </h1>

	</head>
    <body background="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/12/07/806x444/1_chaveamento_copa_do_mundo-22130186.jpg">
		<a href="copa.html">
			<input class="copa" type="button" value="Copas"></a>
		<br>
		<a href="tipoLance.html">
			<input class="tipoLance" type="button" value="Tabela do tipo de lance"></a>
		<br>
		<a href="lance.html">
			<input class="lance" type="button" value="Tabela de lance"> </a>
		<br>
		<a href="idioma.html">
			<input class="idioma"  type="button" value="Tabela de idiomas"></a>
		<br>
		<a href="continente.html">
			<input class="continente"  type="button" value="Tabela de continente"></a>
		<br>
		<a href="paisSede.html">
			<input class="paisSede"  type="button" value="Tabela de pais sede"></a>
		<br>
		<a href="tecnico.html">
			<input class="tecnico"  type="button" value="Tabela de tecnico"></a>
		<br>

		<a href="selecao.html">
			<input class="selecao"  type="button" value="Tabela de selecao"></a>
		<br>

		<input class="botaoFiltrarPorLetra" type="button" value="">
		<br>
		<a href="outrapagina.html" class="pagina"> 
			Vá para outra página
		</a><br>
		<br>
		<a target="_blank" href="https://pt.wikipedia.org/wiki/Hist%C3%B3ria_da_Copa_do_Mundo_FIFA">
			<input class="pagina" type="button" value="Veja mais sobre Copas"></a>
		<br>
        <div id="resposta"></div>
    </body>

	
</html> 