<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="styles.css">

        

<head>	
	<title>addEventListener</title>
	<meta charset="utf-8" />

	<script src="../jquery.js">// requisição backend funçao com parametros
	</script>

	<script src="../JnAjax.js">// 
	</script>

	<script>

function preencherTabela(paisesSede) {
    if (!paisesSede || !paisesSede.length){
        return;
    }
    $('#dv1')
        .append('<tr><td class="bolded">Ano da copa</td><td class="bolded">Pais Sede</td><td class="bolded">Ações</td></tr>');
    let str = '';
    for (let index in paisesSede) {
    const paisSede = paisesSede[index];
    str += (`<tr>
              <td>${paisSede.Copa}</td>
              <td>${paisSede.Sede}</td>
              <td>
                <button id="${paisSede.idPaisSede}">
                  <a href="editPaisSede.html?idPaisSede=${paisSede.idPaisSede}" title="Trocar o pais">Editar</a>
                </button>
              
				<button onclick="deletarPaisSede(${paisSede.idPaisSede})">
							  <a href="#" title="Excluir pais">Excluir</a>
							</button>

		

              </td>
            </tr>`);
    console.log(str.length)
  }
    $('#dv1').append(str);
}

/*	
function deletarPaisSede(idPaisSede) {
		const nome = $('#inputPaisSede').val();
		const confirmed = confirm(`Você realmente deseja deletar esta sede?`);
		if (!confirmed) {
			return; 
		}

		const callbacks = {};
		callbacks[200] = (paisesSede) => {
			alert('A sede foi deletada com sucesso!');
			window.location.reload();
		};
		callbacks[422] = (retornoDoBackend) =>
			alert(
			`O sistema retornou a seguinte mensagem de erro: ${retornoDoBackend.message}`
			);
		callbacks['onUnexpectedHttpStatus'] = () =>
			alert('Ocorreu um erro inesperado ao deletar esse pais sede');

		doAnAjaxRequest(`paisSede/${idPaisSede}`, callbacks, 'DELETE');
	}
	*/



	function deletarPaisSede(idPaisSede) {
			const confirmed = confirm(`Você realmente deseja deletar esta Pais Sede?`);
			if (!confirmed) {
				return;
			}

			const callbacks = {};
			callbacks[200] = (paisSede) => {
				alert('Este páis foi deletada com sucesso!');
				window.location.reload();
			};
			callbacks[422] = (retornoDoBackend) =>
				alert(`O sistema retornou a seguinte mensagem de erro: ${retornoDoBackend.message}`);
			callbacks['onUnexpectedHttpStatus'] = () =>
				alert('Ocorreu um erro inesperado ao deletar esta Pais Sede');

			doAnAjaxRequest(`paisSede/${idPaisSede}`, callbacks, 'DELETE');
		}



	function getIdPaisSede (){
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);	
			const idPaisSede = urlParams.get('idPaisSede');
			return idPaisSede	
		}
 
		$(document).ready(function () {
			var callbacks = {}
			callbacks[200] = paisesSede => preencherTabela(paisesSede)
			doAnAjaxRequest(`paisSede`, callbacks, 'GET');
		});
	
		/*
		$(document).ready(function () {
			const idPaiSede = getIdPaisSede()
			var callbacks = {}
			callbacks[200] = paisesSede => $('#inputIdPaisSede').val(paisesSede[0])
			doAnAjaxRequest(`paisSede/:idPaisSede${idPaiSede}`, callbacks, 'GET');

		});

	*/

	</script>

</head>

<body background="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2022/12/07/806x444/1_chaveamento_copa_do_mundo-22130186.jpg">

	<h2 style="font-size: 30px">Tabela de Paises Sede</h2>
	
	<table id="dv1"></table>

	<a href="index1.html"><input type="button"  class="inicio" value="Voltar a pagina Inicial"></input></a>
	
	<button class="inserir" onclick="window.location.href='editPaisSede.html'">Inserir País Sede</button>


</body>

</html>